@font-face {
    font-family: UniCreditCYBold; /* Имя шрифта */
    src: url(../font/UniCreditCY-Bold.otf); /* Путь к файлу со шрифтом */
   }
@font-face {
    font-family: UniCreditCY; /* Имя шрифта */
    src: url(../font/UniCreditCY-Regular.otf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: UniCreditCYLight; /* Имя шрифта */
    src: url(../font/UniCreditCY-Light.otf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: UniCreditCYLightItalic; /* Имя шрифта */
    src: url(../font/UniCreditCY-LightItalic.otf); /* Путь к файлу со шрифтом */
}
   
body {
    margin: 0px;
    padding: 0px;
   max-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
}
html {font-family: UniCreditCYBold;}
header{
    position: fixed;
z-index: 1;
width: 100%;
}
header.main-header{
    background-image: url(../images/main-bg-header.png);
    position: fixed;
    width: 100%;
    height: 128px;
    background-repeat: repeat-x;
    background-position: center;
}
.wrap-main{
    background-image: url(../images/ut5gsziL0VY.jpg);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#start-screen .wrap-main{
            height: auto;
    margin: 0 auto;
    width: 100%;
    padding: 0 110px;
}
#start-screen header.main-header{
    position: relative;
}
#start-screen .wrap-main{
    background: none;
}
.main-logo{
    float: right;
    margin: 34px;
}
.logo{float: right;padding: 20px;}
.logo-gal{float: right;padding: 20px;}
.main-conetent{
    width: 100%;
    height: 100%;
    text-align: center;
}
.play-scene{
    font-family: UniCreditCYBold;
    font-size: 50.36px;
    color: #fff;
    text-decoration: none;
}
.main-conetent h1{
    font-family: UniCreditCYBold;
    font-size: 50.36px;
    margin: 0px auto 50px;
    padding-top: 245px;
    width: 100%;
    max-width: 770px;
    text-align: center;
    color: #fff;
    font-weight: 400;
    line-height: 60px;
}
#start-screen .main-conetent h1{padding-top: 117px;}

.main-conetent h2{
    color: #fff;
    font-family: UniCreditCYBold;
    font-size: 50.36px;
}
.wrap-slider{
    position: relative;
    text-align: center;
    margin: 0px auto;
    width: 500px;
}
.slider-img{
    position: fixed;
    max-width: 484px;
    width: 100%;
    bottom: 70px;
    z-index: 12;
    background: rgba(255, 255, 2554, 0.3);
    padding: 10px 20px;
}
/*
.slide{
    width: 114px;
    height: 84px;
    
    margin: 10px 10px 0px;
}*/
.slider-ctrl{
    position: fixed;
    bottom: 74px;
    height: 100px;
    max-width: 525px;
    width: 100%;
    z-index: 11;
}
.s-left{
        display: block;
    background-image: url(../images/left.png);
    background-color: rgba(255, 255, 255, 0.3);
    height: 104px;
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    position: absolute;
    left: -30px;
    cursor: pointer;
}
.s-right{
        display: block;
    background-image: url(../images/right.png);
    background-color: rgba(255, 255, 255, 0.3);
    height: 104px;
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    position: absolute;
    right: -29px;
    cursor: pointer;
}
#panorama {
    width: 100%;
    height: 100vh;
}
#panorama .pnlm-panorama-info{
    display: none !important;
}
.panorama-info{    width: 100px;
    margin: 64px auto 0px;
    text-align: center;
    color: #fff;
    padding: 5px;
    background: rgba(0, 0, 0, 0.7);
}

.custom-hotspot {
    height: 35px;
    width: 35px;
    background-image: url(../images/i.png);
    background-size: 24%;
    background-color: rgba(0, 0, 0, 0.38);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    cursor: pointer;
}
.arrow-left{
    height: 55px;
    width: 55px;
    background-image: url(../images/arrl.png);
    background-size: 35%;
    background-color: rgba(255, 255, 255, 0.25);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    cursor: pointer;
}
.arrow-right{
    height: 55px;
    width: 55px;
    background-image: url(../images/arrr.png);
    background-size: 35%;
    background-color: rgba(255, 255, 255, 0.25);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    cursor: pointer;
}
.custom-hotspot:hover {
    background-color: rgba(0, 0, 0, 0.88);
}
div.custom-tooltip span {
        visibility: hidden;
        position: absolute;
        border-radius: 3px;
        background-color: #fff;
        color: #000;
        text-align: center;
        max-width: 200px;
        padding: 5px 10px;
        margin-left: -220px;
        cursor: default;
    }
    div.custom-tooltip:hover span{
        visibility: visible;
    }
    div.custom-tooltip:hover span:after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-width: 10px;
        border-style: solid;
        border-color: #fff transparent transparent transparent;
        bottom: -20px;
        left: -10px;
        margin: 0 50%;
    }
 ::-webkit-scrollbar{width:16px;height:16px;cursor:pointer;}
::-webkit-scrollbar-track{background-color: #878787;}
::-webkit-scrollbar-thumb{background-color:#535353;}   
.modal{        width: 62%;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 96%;
	top:2%!important;
        z-index: 9999999999!important;
    }
.modal .modal-content {
    padding: 0px;
    overflow: hidden;
}
.modal p{
    font-family: 'Arial';
}
.modal-content .right {
    width: 40%;
    min-height: 595px;
    padding: 50px 30px 0px;
    color: #fff;
    right: 0px;
    overflow: hidden;
}
.modal-content .left{
    text-align: center;
    width: 60%;
    padding: 50px 50px 30px;
    
    }
.cls-1 {
    fill: #fff;
    stroke: #000;
    stroke-miterlimit: 10;
}
.mini-schema{
    padding: 25px;
    position: fixed;
    z-index: 1;
    top: 138px;
    background: rgba(204, 204, 204, 0.68)
}
.mini-schema a.min{
float: right;
    line-height: 14px;
    font-size: 40px;
    color: #ffffff;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
}
.close{
  display: inline-block;
    top: 0px;
    right: 0;
    position: absolute;
    line-height: 0;
    font-size: 40px;
    color: #ffffff;
    background: #bdbdbd;
    font-family: 'Times New Roman', Times, serif;
    }
.wrap-control-panorama{
    position: fixed;
    bottom: 16px;
    text-align: center;
    z-index: 1;
    width: 100%;
}

.ctrl{
    background-color: #444348;
    width: 35px;
    height: 35px;
    display: inline-block;
    background-image: url(../images/control.png);
    background-repeat: no-repeat;
    border-radius: 50%;
    background-position-y: center;
}
.ctrl-bottom{background-position-x: -3%;}
.ctrl-top{background-position-x: -38px;}
.ctrl-left{background-position-x: -84px;}
.ctrl-right{background-position-x: -130px;}
.ctrl-zoom-in{background-position-x: -176px;}
.ctrl-zoom-out{background-position-x: -222px;}
.ctrl-fullscreen{background-position-x: -269px;}
.ctrl-rotate{background-position-x: 103%;}
#schema{background-color: #bcbdc0;
    box-shadow: none;}
    
.fixed-action-btn {
    left: 40px;
    bottom: 40px;
    right: inherit;
    padding-top: 0;
}
.btn-floating{
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 6px;
}
.btn-floating i {
    color: #0d2c72;
}
.btn-floating:hover {
    background-color: rgba(255, 255, 255, 0);
    box-shadow: none;
}
@media screen and (max-width: 400px){
    .logo img{
        width: 100px;
    }
}
.map{background: url(../images/map.png);
    width: 200px;
    display: block;
    height: 136px;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
	z-index: 0;}
	
.map .dots{background: url(../images/dots.png);
    width: 200px;
    display: block;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    position: absolute;
	z-index: 1;}
	.mapcont.small{
    width: 200px;
    height: 136px;
    display: block;
    margin: 20px auto 10px;
    position: relative;
}
.mapcont.small .btns{
    width: 20px;
    display: block;
    height: 20px;
    overflow: hidden;
    position: absolute;
	cursor:pointer;
	z-index: 2;}
	
.bigmap .dots{background: url(../images/dots.png);
    width: 653px;
    display: block;
    height: 653px;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    position: absolute;
	z-index: 1;}
.bigmap{background: url(../images/map.png);
    width: 653px;
    height: 446px;
	 display: block;
	margin: 0 auto;
	background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
	z-index: 0;}
	
.mapcont.big .btns{
    width: 40px;
    display: block;
    height: 40px;
    overflow: hidden;
    position: absolute;
	cursor:pointer;
	z-index: 2;}	
	
.mapcont.big{
    width: 653px;
    height: 446px;
    display: block;
    margin: 0 auto;
    position: relative;
}
.map .dots.ps1{top: -20px;left: -43px; visibility:hidden;}
.map .dots.ps2{top: 18px;left: -85px; visibility:hidden;}
.map .dots.ps3{top:-36px;left:81px; visibility:hidden;}
.map .dots.ps4{top:-52px;left:39px; visibility:hidden;}
.map .dots.ps5{top:-33px;left:14px; visibility:hidden;}
.map .dots.ps6{top:-61px;left:-84px; visibility:hidden;}
.map .dots.ps7{top:-51px;left:-13px; visibility:hidden;}
.map .dots.ps8{top:1px;left:-18px; visibility:hidden;}

.mapcont.small .btns.ps1{top: 70px;left: 48px;}
.mapcont.small .btns.ps2{top: 108px;left: 6px;}
.mapcont.small .btns.ps3{top:54px;left:170px;}
.mapcont.small .btns.ps4{top:38px;left:130px;}
.mapcont.small .btns.ps5{top:57px;left:104px;}
.mapcont.small .btns.ps6{top:29px;left:5px;}
.mapcont.small .btns.ps7{top:40px;left:78px;}
.mapcont.small .btns.ps8{top:92px;left:74px;}

.bigmap .dots.ps1{top: -69px;left: -144px; visibility:hidden;}
.bigmap .dots.ps2{top: 67px;left: -278px; visibility:hidden;}
.bigmap .dots.ps3{top:-115px;left:265px; visibility:hidden;}
.bigmap .dots.ps4{top:-170px;left:134px; visibility:hidden;}
.bigmap .dots.ps5{top:-105px;left:50px; visibility:hidden;}
.bigmap .dots.ps6{top:-203px;left:-272px; visibility:hidden;}
.bigmap .dots.ps7{top:-163px;left:-35px; visibility:hidden;}
.bigmap .dots.ps8{top:5px;left:-50px; visibility:hidden;}

.mapcont.big .btns.ps1{top: 230px;left: 155px;}
.mapcont.big .btns.ps2{top: 360px;left: 18px;}
.mapcont.big .btns.ps3{top:167px;left:560px;}
.mapcont.big .btns.ps4{top:120px;left:426px;}
.mapcont.big .btns.ps5{top:185px;left:341px;}
.mapcont.big .btns.ps6{top:96px;left:22px;}
.mapcont.big .btns.ps7{top:139px;left:266px;}
.mapcont.big .btns.ps8{top:303px;left:245px;}

.close.modal-close img{padding: 15px 15px 0 15px;}
#mini-schema{
vertical-align: top;
    color: #ffffff;
	    padding-right: 71.53px;
	}
#mini-schema img{
    width: 22px;
}

.map .dots.active, .bigmap .dots.active{visibility:visible;}
#start-screen{
    position: fixed;
    z-index: 100;
    background-image: url(../images/ut5gsziL0VY.jpg);
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0px;
    overflow: hidden;
}
#old-ie{
    display: none;
}
html.lt-ie8 #old-ie, html.lt-ie7 #old-ie{
    display: block !important;
    position: relative;
    z-index: 200;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #CCC; 
}
html.lt-ie8 .title,html.lt-ie7 .title{
    display: none;
}

.link a{
    margin: 0px 40px;
}
.scroll{overflow: scroll;}
.mini-modal{
    width: 579px;
    height: 161px;
    background-image: url(../images/fon-modal.jpg);
    text-align: center;
    color: #fff;
    overflow: visible;
    top: 20%!important;
    font-size: 18px;
}
.mini-modal .close{
    background: none;
    top: -50px;
    right: -50px;    
}
.mini-modal h5{    
    font-family: UniCreditCYBold;
    margin: 25px 0px 0px;
}
.mini-modal .year{
    font-family: UniCreditCYLight;
        margin: 0px 0px 10px;
}
.mini-modal .text{
    font-family: UniCreditCYLightItalic;
}
.loupe{
    cursor: pointer;
    z-index: 100000;

}
.main-block{margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 130px 115px 90px;
    text-align: center;}
 .relat{position: relative;}
    .zoom_icon{    position: absolute;
    margin: 0 auto;
    top: 50%;
    bottom: 0;
    margin-top: -20px;
    right: 0;
    left: 0;
    width: 40px;
    opacity: 0.2;}
.nicescroll{height: 100vh;}
    .mCustomScrollbar{-ms-touch-action:pinch-zoom;touch-action:pinch-zoom;}
.mCustomScrollbar.mCS_no_scrollbar,.mCustomScrollbar.mCS_touch_action{-ms-touch-action:auto;touch-action:auto;}
.mCustomScrollBox{position:relative;overflow:hidden;height:100%;max-width:100%;outline:none;direction:ltr;}
.mCSB_container{overflow:hidden;width:auto;height:auto;padding-right: 14px;}
.mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden{margin-right:0;    padding-right: 0px;}
.mCS-dir-rtl > .mCSB_inside > .mCSB_container{margin-right:0;padding-right: 14px;}
.mCS-dir-rtl > .mCSB_inside > .mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden{    padding-right: 0px;}
.mCSB_scrollTools{position:absolute;width:14px;height:auto;left:auto;top:0px;right:0;bottom:0px;opacity:0.75;filter:alpha(opacity=75);-ms-filter:alpha(opacity=75);}
.mCSB_outside + .mCSB_scrollTools{right:-26px;}
.mCS-dir-rtl > .mCSB_inside > .mCSB_scrollTools,.mCS-dir-rtl > .mCSB_outside + .mCSB_scrollTools{right:auto;left:0;}
.mCS-dir-rtl > .mCSB_outside + .mCSB_scrollTools{left:-26px;}
.mCSB_scrollTools .mCSB_draggerContainer{position:absolute;top:0;left:0;bottom:0;right:0;height:auto;}
.mCSB_scrollTools a + .mCSB_draggerContainer{margin:20px 0;}
.mCSB_scrollTools .mCSB_draggerRail{width: 14px;
    height: 100vh;
    top: 0;
    background-color: #878787;
    margin: 0 auto;}
.mCSB_scrollTools .mCSB_dragger{cursor:pointer;width:100%;height:30px;z-index:1;}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{position:relative;width:14px;height:100%;text-align:center;background: #535353;  margin:0 auto;}
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded .mCSB_dragger_bar,.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_dragger .mCSB_dragger_bar{width:12px;}
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail,.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail{width:8px;}
.mCSB_scrollTools .mCSB_buttonUp,.mCSB_scrollTools .mCSB_buttonDown{display:block;position:absolute;height:20px;width:100%;overflow:hidden;cursor:pointer;margin:0 auto;}
.mCSB_scrollTools .mCSB_buttonDown{bottom:0;background-position:0 -20px;}
.mCSB_scrollTools,.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,.mCSB_scrollTools .mCSB_buttonUp,.mCSB_scrollTools .mCSB_buttonDown,.mCSB_scrollTools .mCSB_buttonLeft,.mCSB_scrollTools .mCSB_buttonRight{-webkit-transition:opacity .2s ease-in-out, background-color .2s ease-in-out;-moz-transition:opacity .2s ease-in-out, background-color .2s ease-in-out;-o-transition:opacity .2s ease-in-out, background-color .2s ease-in-out;transition:opacity .2s ease-in-out, background-color .2s ease-in-out;}
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger_bar,
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerRail,.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger_bar,.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerRail{-webkit-transition:width .2s ease-out .2s, height .2s ease-out .2s, margin-left .2s ease-out .2s, margin-right .2s ease-out .2s, margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s, opacity .2s ease-in-out, background-color .2s ease-in-out;-moz-transition:width .2s ease-out .2s, height .2s ease-out .2s, margin-left .2s ease-out .2s, margin-right .2s ease-out .2s, margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s, opacity .2s ease-in-out, background-color .2s ease-in-out;-o-transition:width .2s ease-out .2s, height .2s ease-out .2s, margin-left .2s ease-out .2s, margin-right .2s ease-out .2s, margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s, opacity .2s ease-in-out, background-color .2s ease-in-out;transition:width .2s ease-out .2s, height .2s ease-out .2s, margin-left .2s ease-out .2s, margin-right .2s ease-out .2s, margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s, opacity .2s ease-in-out, background-color .2s ease-in-out;}
.mCS-autoHide > .mCustomScrollBox > .mCSB_scrollTools,.mCS-autoHide > .mCustomScrollBox ~ .mCSB_scrollTools{opacity:0;filter:alpha(opacity=0);-ms-filter:alpha(opacity=0);}
.mCustomScrollbar > .mCustomScrollBox > .mCSB_scrollTools.mCSB_scrollTools_onDrag,.mCustomScrollbar > .mCustomScrollBox ~ .mCSB_scrollTools.mCSB_scrollTools_onDrag,.mCustomScrollBox:hover > .mCSB_scrollTools,.mCustomScrollBox:hover ~ .mCSB_scrollTools,.mCS-autoHide:hover > .mCustomScrollBox > .mCSB_scrollTools,.mCS-autoHide:hover > .mCustomScrollBox ~ .mCSB_scrollTools{opacity:1;filter:alpha(opacity=100);-ms-filter:alpha(opacity=100);}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{background-color:rgba(83, 83, 83, 0.8);filter:alpha(opacity=85);-ms-filter:alpha(opacity=85);}
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{background-color:rgba(83, 83, 83, 0.9);filter:alpha(opacity=90);-ms-filter:alpha(opacity=90);}
.mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical,.mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical{right:0;margin:12px 0;}
.mCSB_scrollTools_vertical{-webkit-animation-duration: 1.5s;-moz-animation-duration: 1.5s;-o-animation-duration: 1.5s;animation-duration: 1.5s;-webkit-animation-fill-mode: both;-moz-animation-fill-mode: both;-o-animation-fill-mode: both;animation-fill-mode: both;visibility: visible;-webkit-animation-name: fadeInRight;-moz-animation-name: fadeInRight;-o-animation-name: fadeInRight;animation-name: fadeInRight;}
    